module1/task3/src/main/resources/xml/inet.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- Created with Liquid Technologies Online Tools 1.0 (https://www.liquid-technologies.com) -->
<xs:schema elementFormDefault="qualified"
           targetNamespace="http://sokolov.com/gem"
           xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <xs:element name="gems">
        <xs:complexType>
            <xs:sequence>
                <xs:element maxOccurs="unbounded" name="gem">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="name" type="xs:string"/>
                            <xs:element name="preciousness" type="xs:string"/>
                            <xs:element name="origin" type="xs:string"/>
                            <xs:element name="visualParams">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="color" type="xs:string"/>
                                        <xs:element name="transparency" type="xs:unsignedByte"/>
                                        <xs:element name="numberOfFaces" type="xs:unsignedByte"/>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="value" type="xs:unsignedByte"/>
                        </xs:sequence>
                        <xs:attribute name="id" type="xs:string" use="required"/>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>